.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.background-container {
  background: #dfe5f2; }

.gradient {
  height: 1rem;
  background-color: #0e0d0d;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(#1b1b1b, #020202);
  /* Standard syntax (must be last) */ }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #f5e341;
  border-radius: 1rem; }

.btn-light {
  color: #333;
  background-color: #f5e341;
  border-radius: 1rem;
  font-weight: bold; }

.btn-dark {
  color: #f4f4f4;
  background-color: #0378a6;
  border-radius: 1rem; }

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #3a3b40; }

.bg-main {
  background: #624dce;
  color: #000; }

.bg-dark {
  background: #3a3b40;
  color: #fff; }

.bg-light {
  background: #dfe5f2;
  color: #000; }

.bg-medium {
  background: #0378a6;
  color: #fff; }

.color-white {
  color: #fff; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: 300; }

.lead-header {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: 300; }

.span-title {
  color: #0378a6; }

.text-center {
  text-align: center; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.section-title {
  font-size: 2.5rem;
  display: block;
  padding-bottom: 1.5rem;
  text-align: center;
  text-transform: none; }

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #f5e341;
  display: block;
  margin: 0 auto 1rem auto; }

.under-title {
  font-size: 1.2rem;
  display: block;
  padding-bottom: 1.2rem;
  text-align: center;
  text-transform: none; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Candara", sans-serif;
  line-height: 1.6;
  background: #fff;
  font-size: 1.1rem; }

a {
  text-decoration: none;
  color: #3a3b40; }

ul {
  list-style: none; }

h2 {
  font-weight: 100; }

h3,
h4 {
  text-transform: none;
  font-weight: 800; }

img {
  width: 100%; }

#logo {
  padding: 0.7rem 0;
  width: 15%;
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
  transition: all 1s; }

.nav-container {
  background: #020202; }

.topnav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
  align-items: center;
  transition: all 1s; }
  .topnav .icon {
    display: none; }
  .topnav li {
    padding: 1rem; }
  .topnav #main-nav-list {
    display: flex; }
  .topnav a {
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.2rem;
    transition: border-color 0.5s;
    color: #fff;
    display: block; }
    .topnav a:hover {
      border-color: #f5e341; }
    .topnav a.current {
      border-color: #f5e341; }

#header-home {
  background: url("/img/hero-car.jpg") no-repeat 50% 60%/cover;
  height: 85vh;
  color: #fff; }
  #header-home .header-content {
    text-align: center;
    padding-top: 6%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }

#header-inner {
  background: url("/img/hero-car.jpg") no-repeat 20% 30%/cover;
  height: 5.5rem;
  border-bottom: 3px solid #624dce; }

#home-a .specials {
  margin-top: 1rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr); }
  #home-a .specials .fas,
  #home-a .specials .fab {
    color: #f5e341;
    padding-bottom: 0.4rem;
    padding-right: 0.4rem; }
  #home-a .specials div {
    padding: 1rem; }
  #home-a .specials .tjenester {
    background-color: #dfe5f2;
    padding: 0;
    border-radius: 1rem; }
  #home-a .specials .tjenester-title {
    display: flex;
    justify-content: center;
    align-items: center; }
    #home-a .specials .tjenester-title i {
      padding-right: 1rem; }
  #home-a .specials .seo-image {
    background: url("/img/tjenester/seo.jpg") no-repeat center 90%/cover;
    min-height: 150px;
    border-radius: 1rem 1rem 0 0; }
  #home-a .specials .redesign-image {
    background: url("/img/tjenester/redesign.jpg") no-repeat center center/cover;
    min-height: 150px;
    border-radius: 1rem 1rem 0 0; }
  #home-a .specials .newsite-image {
    background: url("/img/tjenester/new_site.jpg") no-repeat center center/cover;
    min-height: 150px;
    border-radius: 1rem 1rem 0 0; }
  #home-a .specials .samarbeid-image {
    background: url("/img/tjenester/samarbeid.jpg") no-repeat center 35%/cover;
    min-height: 150px;
    border-radius: 1rem 1rem 0 0; }

#home-b .container-tilbyr {
  max-width: 1280px;
  padding: 1rem 0;
  margin: auto;
  overflow: hidden; }
  #home-b .container-tilbyr .info-design {
    margin: 0 1rem;
    padding: 3rem 1rem; }
    #home-b .container-tilbyr .info-design ul {
      padding-left: 1rem; }
      #home-b .container-tilbyr .info-design ul li {
        line-height: 2; }
        #home-b .container-tilbyr .info-design ul li span {
          font-weight: bold; }

#home-b .aside-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 2rem;
  grid-gap: 1rem;
  height: 28rem; }
  #home-b .aside-info .right-aside {
    display: grid;
    align-self: center;
    padding: 2rem 0; }
    #home-b .aside-info .right-aside p {
      font-size: 1.3rem;
      line-height: 1.6;
      padding: 1rem; }
    #home-b .aside-info .right-aside .btn-aside {
      padding: 0.8rem 2rem;
      transition: all 0.5s;
      border: none;
      width: 5rem;
      cursor: pointer;
      color: #f4f4f4;
      background-color: #1a94c4;
      border-radius: 1rem;
      justify-self: center;
      align-self: center;
      text-align: center; }
    #home-b .aside-info .right-aside .btn-aside:hover {
      background-color: #f5e341; }
  #home-b .aside-info .img-left-aside {
    background: url("/img/starbucks.webp") no-repeat right center/cover; }

#home-b .aside {
  background: #dfe5f2;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0; }
  #home-b .aside .box {
    width: 50%;
    margin: auto; }
  #home-b .aside img {
    transition: all 0.5s; }
  #home-b .aside img:hover {
    transform: scale(1.2); }

#home-c .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center; }
  #home-c .process p {
    font-weight: 300; }
  #home-c .process-step {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    background: #f5e341;
    color: black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 1rem;
    transition: all 1s; }
  #home-c .process-icon {
    border-radius: 50%;
    background: #0378a6;
    color: #fff;
    padding: 2rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: all 1s; }
    #home-c .process-icon:hover {
      background: #f5e341;
      transform: scale(110%); }
      #home-c .process-icon:hover .process-step {
        background: #3a3b40;
        color: #fff; }

#about-a .om-oss {
  padding: 1rem 1rem;
  display: grid;
  grid-template-areas: "om-text  kompet  kode-bilde ";
  grid-gap: 1rem;
  text-align: left; }
  #about-a .om-oss .om-oss-text {
    grid-area: om-text;
    text-align: left;
    justify-self: center;
     }
    
  #about-a .om-oss .list-tech {
    grid-area: kompet;
    padding-left: 5rem;
    justify-self: center;
    align-self: center;
     }
    #about-a .om-oss .list-tech ul {
      list-style-type: none;
      padding-left: 1rem; }
    #about-a .om-oss .list-tech .fas {
      color: #f5e341; }
  #about-a .om-oss .om-oss-img {
    justify-self: start;
    grid-area: kode-bilde;
    height: 80%;
    width: 90%; }

#about-a .about-info {
  padding-top: 2rem;
  display: grid;
  grid-template-areas: "bioimage1 bio1 bio1"
 "bio2 bio2 bioimage2";
  grid-gap: 1.2rem; }

#about-a .bio-image1 {
  grid-area: bioimage1;
  height: auto; }

#about-a .bio-image2 {
  grid-area: bioimage2;
  height: auto; }

#about-a .bio1 {
  grid-area: bio1;
  border: 2px solid #004225;
  padding: 0.8rem;
  justify-self: center; }

#about-a .bio2 {
  grid-area: bio2;
  border: 2px solid #004225;
  padding: 0.8rem; }

#about-b .progress {
  overflow: hidden;
  height: 20px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 0.6rem; }
  #about-b .progress div {
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #f5e341; }

#about-c {
  background: #f5e341; }
  #about-c .about-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    align-items: center; }
  #about-c img {
    width: 70%;
    margin: auto; }

#contact-a .text-fields {
  display: grid;
  grid-template-areas: "name email"
 "subject subject"
 "message message"
 "contact-button contact-button";
  grid-gap: 1.2rem;
  padding: 1.2rem;
  width: 50%;
  margin: 2rem auto;
  background: #fff;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none; }
  #contact-a .text-fields .name-input {
    grid-area: name; }
  #contact-a .text-fields .subject-input {
    grid-area: subject; }
  #contact-a .text-fields .email-input {
    grid-area: email; }
  #contact-a .text-fields .message-input {
    grid-area: message;
    height: 150px; }
  #contact-a .text-fields textarea {
    resize: none; }
  #contact-a .text-fields .contact-button {
    background-color: #0378a6;
    grid-area: contact-button; }
  #contact-a .text-fields .contact-button:hover {
    background-color: #3a3b40; }
  #contact-a .text-fields .text-input {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fafafa;
    outline: auto;
    outline: 1px solid #624dce;
    transition: all 0.2s ease; }
    #contact-a .text-fields .text-input::placeholder {
      font-family: sofia-pro, sans-serif !important;
      font-weight: 100; }
  #contact-a .text-fields .button[type="submit"] {
    width: 50%; }

#contact-a input::placeholder {
  font-family: "Candara", sans-serif; }

#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }
  #contact-b .contact-info .fas {
    color: #fff; }
  #contact-b .contact-info p {
    font-size: 1rem; }
  #contact-b .contact-info a {
    color: #fff; }
    #contact-b .contact-info a:hover {
      color: #f5e341; }

#contact-c h1 {
  text-align: center;
  font-size: 4rem; }

#personvern-a .personvern-title {
  padding: 0 1rem; }

#personvern-a .personvern-text {
  padding: 1rem 1rem; }
  #personvern-a .personvern-text p {
    color: #333; }
  #personvern-a .personvern-text .personvern-titles {
    font-weight: 100;
    padding: 1rem 0;
    color: #3a3b40; }

#personvern-hjem {
  margin: auto; }

#main-footer {
  background: #3a3b40;
  color: #fff;
  height: 7rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    font-size: 0.9rem; }
    #main-footer .footer-content .logo-footer {
      width: 187px;
      height: 51px; }
    #main-footer .footer-content .personvern-field {
      color: #fff; }
      #main-footer .footer-content .personvern-field :hover {
        color: #f5e341; }
    #main-footer .footer-content .fas {
      color: #fff; }
      #main-footer .footer-content .fas:hover {
        color: #f5e341; }

@media only screen and (min-width: 1024px) {
  .nav-container {
    position: sticky;
    top: 0;
    z-index: 2; }
  #main-nav-list {
    position: absolute;
    transition: all 1s;
    left: 70vw; }
    #main-nav-list.scrolled {
      left: calc(50vw - 118px); }
  #logo {
    height: 50px;
    width: auto; }
    #logo.scrolled {
      opacity: 0;
      height: 25px; } }

@media (max-width: 800px) {
  #header-home {
    height: 30rem; }
  #header-home .header-content {
    padding-top: 1rem; }
  #logo {
    height: 50px;
    width: auto; }
  #home-a .specials {
    margin-top: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr); }
    #home-a .specials .tjenester-text {
      margin-bottom: 1rem; }
    #home-a .specials .tjenester-title {
      display: block; }
  #home-b .container {
    flex-direction: column; }
    #home-b .container .aside-info {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0;
      grid-gap: 1rem;
      height: 100%; }
      #home-b .container .aside-info .right-aside {
        align-self: center; }
        #home-b .container .aside-info .right-aside p {
          font-size: 1.3rem;
          line-height: 1.2;
          padding: 1rem 0; }
        #home-b .container .aside-info .right-aside .btn-aside {
          display: grid;
          padding: 0.7rem 2rem;
          width: 5rem;
          transition: all 0.5s;
          border: none;
          cursor: pointer;
          color: #f4f4f4;
          background-color: #1a94c4;
          border-radius: 1rem;
          justify-self: center;
          text-align: center;
          align-self: center; }
      #home-b .container .aside-info .img-left-aside {
        display: none; }
    #home-b .container .aside {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0; }
      #home-b .container .aside .box {
        width: 80%; }
      #home-b .container .aside #pc {
        order: 1; }
      #home-b .container .aside #laptop {
        order: 2; }
      #home-b .container .aside #iphone {
        order: 3; }
      #home-b .container .aside #ipad {
        order: 5; }
      #home-b .container .aside #ipad-landscape {
        order: 6; }
      #home-b .container .aside #iphone-landscape {
        order: 4; }
  #home-c .process {
    grid-template-areas: repeat(2, 1fr); }
  #home #about-a .about-info {
    grid-gap: 1rem; }
  #about-a .om-oss {
    grid-gap: 4%;
    padding: 1rem;
    grid-template-areas:
    "om-text"
    "kompet"; }
    #about-a .om-oss .om-oss-text{
      padding:  1rem 0;
    }
    #about-a .om-oss .list-tech{
      padding-bottom: 1rem;
    }
    #about-a .om-oss .om-oss-img {
      display: none; }
  #about-a .about-info {
    display: grid;
    grid-template-areas: "bioimage1"
 "bio1"
 "bioimage2"
 "bio2";
    grid-gap: 0.2rem; }
  #about-a .bio-image1 {
    grid-area: bioimage1;
    align-self: center;
    justify-self: center;
    width: 50%; }
  #about-a .bio-image2 {
    grid-area: bioimage2;
    align-self: center;
    width: 50%;
    justify-self: center; }
  #about-a .bio1 {
    grid-area: bio1;
    border: none;
    padding: 2rem 0.2rem;
    justify-self: center;
    margin-bottom: 2rem;
    color: black; }
  #about-a .bio2 {
    grid-area: bio2;
    border: none;
    padding: 2rem 0;
    margin: 0; }
  #main-footer {
    height: 16rem; }
    #main-footer .footer-content {
      flex-direction: column-reverse;
      padding: 1rem 0.5rem;
      height: 14rem;
      text-align: center;
      font-size: 0.8rem; }
      #main-footer .footer-content .logo-footer {
        width: 187px;
        height: 51px; } }

@media (max-width: 500px) {
  #main-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
    align-items: center; }
    #main-nav li {
      padding: 1rem; }
  #main-nav-list {
    padding-top: 0;
    justify-content: center !important; }
  #header-home {
    height: 15rem;
    background-position: center center; }
    #header-home .header-content {
      display: none; }
  #header-inner {
    height: 20rem; }
  .section-title {
    font-size: 2rem; }
  #home-b .stats,
  #about-d .testimonials,
  .items,
  #contact-b .contact-info {
    grid-template-columns: 1fr; }
  #home-a .specials div {
    border-bottom: 1px #dfe5f2 solid;
    padding-bottom: 1rem; }
    #home-a .specials div:last-child {
      border: none;
      padding-bottom: 0; }
  #home-b .stats div {
    padding: 2rem 0 1rem; }
  #home-c .process {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem; }
    #home-c .process-step {
      font-size: 25px;
      height: 10px;
      width: 10px;
      line-height: 10px; }
    #home-c .process-icon {
      width: 50px;
      height: 50px;
      line-height: 50px; }
      #home-c .process-icon:hover {
        transform: scale(110%); }
  #about-a .om-oss {
    grid-gap: 0;
    padding: 0; }
    #about-a .om-oss .om-oss-img {
      display: none; }
    #about-a .om-oss .list-tech {
      padding-left: 0;
      padding-left: 0.8rem; }
  #about-a .about-info {
    display: grid;
    grid-template-areas: "bioimage1"
 "bio1"
 "bioimage2"
 "bio2";
    grid-gap: 0.2rem; }
  #about-a .bio-image1 {
    width: 80%; }
  #about-a .bio-image2 {
    width: 80%; }
  #about-a .bio1 {
    grid-area: bio1;
    border-left: none;
    padding: 2rem 0.2rem;
    justify-self: center;
    margin-bottom: 2rem;
    background: none; }
  #about-a .bio2 {
    grid-area: bio2;
    border-right: none;
    background: none;
    padding: 2rem 0;
    margin: 0; }
  #about-c {
    display: none; }
  #contact-a .text-fields {
    grid-template-areas: "name"
 "subject"
 "email"
 "phone"
 "message"; }
  #contact-b div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px rgba(255, 255, 255, 0.445) dotted; }
    #contact-b div p {
      font-size: 0.9rem; }
    #contact-b div:last-child {
      border: none;
      margin: 0;
      padding-bottom: 0; }
  #contact-c h1 {
    font-size: 2rem; }
  #main-footer {
    height: 15rem; }
    #main-footer .footer-content {
      flex-direction: column-reverse;
      padding: 0.5rem 0;
      height: 12rem;
      text-align: center;
      font-size: 0.8rem; }
      #main-footer .footer-content .logo-footer {
        width: 187px;
        height: 51px; } }

@media (max-height: 580px) {
  #header-home .header-content {
    display: none; } }

@media (max-height: 330px) {
  #header-home .header-content {
    display: none; } }
